body {
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
background-image: url(https://images.pexels.com/photos/669584/pexels-photo-669584.jpeg?auto=compress&cs=tinysrgb&w=600);
height: 100vh;
}


main {
    display: flex;
    justify-content: space-evenly;
}

footer {
    text-align: center;
}

.main-header {
    text-align: center;
}

.main-form {
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid none;
    padding: 16px ;
    border-radius: 10px;
    font-family: calibri;
    font-style: oblique;
}

.label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

section{ 
    width: 40%;
}

input[type=number] , select {
    width: 40%;
    padding: 12px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #3c245b;
    border-radius: 4px;
    box-sizing: border-box;
  }

button {
    border: 0;
    padding: 8px;
    border-radius: 3px;
}

.style-button {
    margin-top: 32px;
}

.hitung-button {
    background-color: cadetblue;
    color: white;
}

.artikel-pertama {
    border-radius:5px;
    font-family: calibri;
    text-align: justify;
    color: rgb(188, 201, 204);
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding: 10px;
}

.reset-button {
    color: black;
    background-color: aliceblue;
}

.playstore {
    height: 30px;

}

.appstore {
    height: 30px;
}

label {
    color: aliceblue;
}

.hasil {
    font-family: calibri;
    font-style: oblique;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 7px;
    color: rgb(188, 201, 204);;
}

.second-article {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: rgb(188, 201, 204);
    padding: 3px;
    font-family: calibri;
    font-style: oblique;
    margin-bottom: 10px;
    margin-top: 5px;
}


.input-form {
    background-color: rgba(0, 0, 0, 0.25);
}

.radio {
    border: none;
}

.header-hasil {
    text-align: center;
}

.main-hasil {
    text-align: center;
}

.button-hasil {
    display: flex;
    justify-content: center;
}

#result-calculation{
    color: white;
}

.button-gizi {
    display: flex;
    justify-content: center;
}

.regist-ahli {
    margin-left: 5px;
}